* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: #333;
	font-family: 'Tapestry', cursive;
}

.wrapper {
	min-height: 100%;
}

.wrapper.free .page_pagination {
	transition: all 0.3s ease 0s;
	transform: translate(50px, -50%);
	opacity: 0;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0px 20px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.header_menu {}

.menu {
	display: flex;
	min-height: 70px;
	align-items: center;
}

.menu_link {
	color: rgb(255, 239, 239);
	text-decoration: solid;
	font-size: 20px;
	transition: color 0.3s ease 0s;
	margin: 0px 20px 0px 0px;
	transition: 0.7s;
}

.menu_link._active {
	color: white;
	font-weight: 700;
	text-shadow: 2px 2px 4px black;
	font-size: 25px;
}

.menu_link:hover {
	color: #333;
	text-shadow: none;
}

@media (max-width: 767px) {
	.menu_link {
		font-size: 13px;
		margin: 0px 9px 0px 0px;
	}

	.menu_link._active {
		font-size: 20px;
	}
}

@media(max-width:420px) {
	.menu_link {
		font-size: 12px;
	}

	.menu_link._active {
		font-size: 15px;
	}
}


.page {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.page_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.page_screen {}

.screen {
	flex: 1 0 100%;
	position: relative;
}

.screen_content {
	padding: 100px 25px 25px 25px;
	position: relative;
	z-index: 2;
}

.screen_title {
	color: white;
	font-size: 50px;
	margin: 0px 0px 30px 0px;
	display: inline-block;
}

.screen_title_bg {
	padding: 15px;
	text-shadow: 10px 10px 10px black;
}

.screen_body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.screen_image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.screen_image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.screen_text {
	font-size: 20px;
	line-height: 130%;
	color: white;
}

.screen_text p {
	margin: 0px 0px 20px 0px;
}

.screen_text p:last-child {
	margin-bottom: 0;
}

@media (max-width: 765px) {
	.screen_text {
		font-size: 16px;
	}
}

.page_pagination {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translate(0px, -50%);
	display: flex;
	flex-direction: column;
}

.page_bullet {
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 10px 0px;
	border-radius: 50%;
	transition: backround-color 0.3s ease 0s;
}

.page_bullet_active {
	background-color: white;

}

.page_scroll {
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.page_drag-scroll {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}